body{
    margin: 0;
    padding: 0;
}

.header {
    padding: 20px;
    background-color: #333333;
}
.header h1 {
    text-align: center;
    color: #cecece;
}

.navbar{
    display: flex;
    background-color: black;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.nav-item{
    background-color: #cecece;
    padding: 7px 25px;
}